.App {
    position: relative;
    height: 400px;
    width: 200px;
    background-color: lightblue;
}

.modal {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal > div {
    width: 40%;
    background-color: #ffffff;
    padding: 5%;
    min-height: 200px;
    border-radius: 5px;
}

.modal .container__button {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}